* {
  margin: 0 auto;
  box-sizing: border-box;
  /* width: 100%; */
}

.app_container {
  background: url(./assets/pexels-pixabay-53594.jpg);
}

.app_clear {
  background: url(./assets/image.png) no-repeat center center/cover;
  /* width: 100%;
  min-height: 100vh; */
}
