.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.app_form {
  text-align: center;
  padding-top: 2rem;
  border-radius: 30px;
  padding: 12px 20px;
  border: none;
  outline: none;
}

.app_form input {
  border-radius: 30px;
  padding: 12px 20px;
  border: none;
  outline: none;
  width: 10rem;
  height: 2rem;
  font-weight: bold;
  color: rgb(224, 13, 13);
  background: transparent;
  border: 1px solid rgb(17, 218, 94);
}

.app_form button {
  border-radius: 30px;
  width: 5rem;
  height: 2rem;
  color: green;
  background: transparent;
  border: 1px solid rgb(15, 189, 76);
  cursor: pointer;
}

.cityName {
  width: 18rem;
  height: 15rem;
  margin-top: 2rem;
  margin-bottom: 5.4rem;
  border: 2px solid rgb(18, 174, 104);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 24px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}

.data_icon {
  width: 5rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
}

.temp {
  font-size: 1.5rem;
  font-weight: 700;
}

/* App Section */

.section {
  width: 100%;
  height: 18rem;
  padding-bottom: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  /* background-color: rgb(140, 200, 214); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section_items {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  /* background-color: rgb(92, 213, 226); */
  gap: 16px;
  overflow-x: auto;
}

.section_items:hover {
  color: green;
}

.data {
  padding: 1rem 2rem;
  border-radius: 1rem;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  /* border: 1px solid rgb(17, 218, 94); */
  background: rgba(255, 255, 255, 0.25);
}

.section_item {
  width: 100%;
  height: 10rem;
  font-weight: 700;
  display: flex;
  justify-content: start;
  gap: 16px;
  overflow-x: auto;
}

.hourly {
  display: flex;
  flex-direction: column;
  /* border: 1px solid rgb(17, 218, 94); */
  background: rgba(255, 255, 255, 0.25);
  border-radius: 1rem;
}

.newDate {
  width: 100%;
  margin-top: 1rem;
  margin-left: 0;
  display: flex;
}

.weather {
  text-align: center;
  width: 10rem;
  height: 5rem;
}
